.header__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 6px;
}
@media screen and (max-width: 767px) {
  .header__links {
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 8px;
  }
}