.place__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  max-width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}
.place__paragraph:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 1279px) {
  .place__paragraph {
    max-width: 456px;
  }
}
@media screen and (max-width: 1023px) {
  .place__paragraph {
    margin-bottom: 25px;
    max-width: 352px;
    font-size: 16px;
    line-height: 163%;
  }
}
@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    margin-bottom: 25px;
  }
}