.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 1fr 1fr min-content(584px);
  row-gap: 48px;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}
@media screen and (max-width: 1279px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px 456px;
    grid-template-rows: 1fr 1fr min-content(564px);
    column-gap: 32px;
  }
}
@media screen and (max-width: 1023px) {
  .place {
    max-width: 720px;
    padding-bottom: 73px;
    grid-template-columns: 340px 352px;
    grid-template-rows: 1fr 1fr min-content(434px);
    column-gap: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    max-width: 320px;
    grid-template-columns: 320px;
    grid-template-rows: 1fr;
    row-gap: 32px;
    column-gap: 0;
    padding-bottom: 50px;
  }
}