.footer {
  max-width: 1184px;
  max-height: 18px;
  margin: 0 auto;
  padding: 0;
  margin-top: 92px;
  margin-bottom: 24px;
  background: #2A2C2F;
}
@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
    margin: 0 auto;
    padding: 0;
    margin-top: 92px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
    margin-top: 88px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    margin-top: 64px;
  }
}